::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background-color: #191919;
}

::-webkit-scrollbar-thumb {
    background-color: #3c3c3c;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0099cc;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #191919;
    background-image: linear-gradient(to right, #000, #191919, #2D2D2D, #3C3C3C, #2D2D2D, #191919, #000);
    color: #fff;
    font-family: 'barlow_condensedlight', sans-serif;
}

.chosen-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.chosen-container-form {
    margin: 20vh auto;
    max-width: 400px;
    width: 90%;
    background-color: #191919;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
}

.chosen-container-header {
    width: 100%;
    background-color: #2D2D2D;
}

.chosen-container-body {
    padding: 10px 20px 0 20px;
    flex-direction: column;
}

.chosen-container-footer {
    padding: 20px;
    justify-content: space-between;
}

.chosen-container-body, .chosen-container-footer {
    width: calc(100% - 40px);
    display: flex;
}

.chosen-container-withIcon {
    display: flex;
    flex-wrap: wrap;
}

.chosen-not-valid {
    width: calc(100% - 22px);
    background-color: #F7F7F7;
    color: firebrick;
    padding: 10px;
    border: 1px solid firebrick;
    border-radius: 5px;
    margin: 5px 0;
}

.chosen-container-header .chosen-container-withIcon {
    padding: 10px 20px;
    width: calc(100% - 40px);
}

.chosen-container-withIcon i {
    margin-right: 5px;
}

div.chosen-container-withIcon {
    width: 100%;
}

.password-displayer {
    position: absolute;
    z-index: 20;
    cursor: pointer;
    bottom: 10px;
    right: 10px;
}

.chosen-form-container input[type="email"],
.chosen-form-container input[type="password"],
.chosen-form-container input[type="text"],
.chosen-form-container input[type="number"],
.chosen-form-container select,
.chosen-form-container input[type="date"],
.chosen-form-container input[type="datetime-local"] {
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.01);
    border-top: unset;
    border-left: unset;
    border-right: unset;
    border-bottom: 2px solid #2D2D2D;
    outline: none;
    width: calc(100% - 20px);
    color: #F7F7F7;
    font-family: inherit;
    font-size: inherit;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

button.chosen-container-withIcon {
    width: max-content;
    min-width: calc(49% - 20px);
    padding: 5px 10px;
    background-color: #3C3C3C;
    outline: none;
    border-radius: 5px;
    transition: all linear 0.15s;
    color: #F7F7F7;
    font-family: inherit;
    font-size: inherit;
    border: unset;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

button.chosen-container-withIcon:hover {
    background-color: #2D2D2D;
}

.chosen-form-container input::placeholder {
    color: #2D2D2D;
    font-style: italic;
}

.chosen-form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
    position: relative;
}

.chosen-container-footer .chosen-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chosen-container-body form {
    display: flex;
    flex-direction: column;
}

.chosen-container-body form .chosen-form-container-buttons {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0 0 0;
}

.chosen-container-body form .chosen-form-container-remember {
    margin-top: 10px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.chosen-container-footer a {
    width: max-content;
    opacity: 0.5;
    text-align: center;
    transition: all linear 0.15s;
}

.chosen-container-footer a:hover {
    opacity: 1;
    color: #deb672;
}

input[type="checkbox"] {
    margin-right: 5px;
}

input[type="checkbox"],
.chosen-remember {
    cursor: pointer;
}

.chosen-container-header p {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.chosen-container-header i::before {
    font-size: 24px;
}

#login_submit_btn:disabled {
    opacity: 0.3;
    background-color: #3C3C3C;
    cursor: not-allowed;
}

#login_submit_btn:disabled:hover {
    opacity: 0.3;
    background-color: #3C3C3C;
}

.chosen-image-preview-container {
    position: relative;
    background-image: url("/chosen/default-avatar.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    border-radius: 500px;
    width: 100px;
    height: 100px;
    border: 2px solid #F7F7F7;
    margin-top: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8), 4px 4px 8px rgba(0, 0, 0, 0.5) inset;
}

.chosen-image-preview-container .quantic-icon-picture {
    left: calc(20% - 13px);
}

.chosen-image-preview-container .quantic-icon-cancel1 {
    right: calc(20% - 13px);
}

.chosen-image-preview-container .quantic-icon-picture,
.chosen-image-preview-container .quantic-icon-cancel1 {
    position: absolute;
    z-index: 2;
    bottom: -5px;
    background-color: #191919;
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;
    transition: all linear 0.15s;
    transform-origin: 50% 50%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
    transform: scale(1);
    border: 1px solid #F7F7F7;
}

.chosen-image-preview-container .quantic-icon-picture:hover,
.chosen-image-preview-container .quantic-icon-cancel1:hover {
    background-color: darkorange;
    color: #191919;
    transform: scale(1.1);
}

#register_avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 20px;
    visibility: hidden;
}

.chosen-form-container-avatar .chosen-container-withIcon {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.chosen-form-container-avatar {
    margin-bottom: 5px;
}

.chosen-hr-style {
    height: 1px;
    width: 100%;
    background-color: #3C3C3C;
    margin: 20px 0 10px 0;
    border-radius: 20px;
}

.chosen-chapter {
    justify-content: center;
    padding: 10px 20px;
    width: calc(100% - 42px)!important;
    background-color: #2D2D2D;
    margin: 20px 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    font-weight: bold;
    font-size: 22px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.is-invalid {
    color: firebrick!important;
    border-color: firebrick!important;
}

#verify_submit_btn {
    margin: 10px 0 20px 0;
}

.chosen-resent {
    background-color: #F7F7F7;
    color: darkolivegreen;
    border: 1px solid darkolivegreen;
    margin: 10px 0;
    padding: 10px;
    width: calc(100% - 22px)!important;
    border-radius: 5px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
    font-weight: bold;
}
